NewsFocusService/TryIt/App_WebReferences/NewsServiceReference1/NewsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NewsFocusService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NewsFocusService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNewsType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewsType" nillable="true" type="tns:NewsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewsType" nillable="true" type="tns:ArrayOfNewsType" />
  <xs:complexType name="NewsType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewsType" nillable="true" type="tns:NewsType" />
</xs:schema>